@{ Layout = "_LayoutUser";}
@model VDCompanyMVC.Models.Pages.ModelUserCases
<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Мои дела</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Просмотр всех дел аккаунта</h4>
            </div>
        </div>


        <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">
            <div class="table-responsive">
                <table class="table table-primary table-hover table-striped mg-b-0">
                    <thead>
                        <tr>
                            <td style="vertical-align:middle;" scope="col">ID</td>
                            <td style="vertical-align:middle;" scope="col">Название</td>
                            <td style="vertical-align:middle;" scope="col">Тип дела</td>
                            <td style="vertical-align:middle;" scope="col">Статус дела</td>
                            <td style="vertical-align:middle;" scope="col">Дата создания</td>
                            <td style="vertical-align:middle;" scope="col">Действие</td>
                        </tr>
                    </thead>
                    <tbody id="TableBody">
                        @if (Model.Cases != null && Model.Cases.Count != 0)
                        {

                            @for (int i = 0; i < Model.Cases.Count; i++)
                            {
                                <tr>
                                    <td style="vertical-align:middle;" scope="row">@Model.Cases[i].Id</td>
                                    <td style="vertical-align:middle;">@Model.Cases[i].Name</td>
                                    <td style="vertical-align:middle;">@Model.Cases[i].Type</td>
                                    <td style="vertical-align:middle;">
                                        @{ string state = "Закрыто"; }
                                    @if (Model.Cases[i].Status == VDCompanyMVC.Models.Objects.TypeCase.Close)
                                    {
                                        @state
                                    }
                                    else if (Model.Cases[i].Status == VDCompanyMVC.Models.Objects.TypeCase.InProcess)
                                    {
                                        state = "В процессе";
                                        @state;
                                    }
                                    else if (Model.Cases[i].Status == VDCompanyMVC.Models.Objects.TypeCase.Open)
                                    {
                                        state = "Открыто";
                                        @state;
                                    }
                                </td>
                                <td style="vertical-align:middle;">@Model.Cases[i].DateStart</td>

                                <td style="vertical-align:middle;"><a href="/User/Case?id=@Model.Cases[i].Id" class="btn btn-primary">Перейти</a></td>
                            </tr>

                        }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/spaceuser/lib/jquery/jquery.min.js"></script>
<script src="~/spaceuser/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/spaceuser/lib/feather-icons/feather.min.js"></script>
<script src="~/spaceuser/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.stack.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="~/spaceuser/lib/chart.js/Chart.bundle.min.js"></script>
<script src="~/spaceuser/lib/jqvmap/jquery.vmap.min.js"></script>
<script src="~/spaceuser/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="~/spaceuser/assets/js/dashforge.chat.js"></script>
<script src="~/spaceuser/assets/js/signalr.min.js"></script>
<script src="~/spaceuser/assets/js/jquerry.cookie.js"></script>
<script src="~/spaceuser/assets/js/main.js"></script>
<script src="~/spaceadmin/assets/js/main.js"></script>

