@{ Layout="_LayoutUser"; }
    <div class="content content-fixed">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                            <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Открыть дело</li>
                        </ol>
                    </nav>
                    <h4 class="mg-b-0 tx-spacing--1">Открытие нового дела</h4>
                </div>
            </div>


            <div class="container d-flex justify-content-center ht-100p">
                <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">

                    <h4 class="tx-20 tx-sm-24">Здравствуйте!</h4>
                    <p class="tx-color-03 mg-b-30">Откройте новое дело используя форму ниже</p>
                    <div class="pd-t-20 wd-100p">
                        <div class="form-group">
                            <label>Наименование дела (сокращенное описание)</label>
                            <input type="text" class="form-control" placeholder="" id="name">
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between mg-b-5">
                                <label class="mg-b-0-f">Выберите тип вашего дела</label>
                            </div>
                            <select class="custom-select" id="type">
                                <option selected disabled>Не выбрано</option>
                                <option value="Уголовное дело">Уголовное дело</option>
                                <option value="Дело военнослужащих">Дело военнослужащих</option>
                                <option value="Общая практика">Общая практика</option>
                                <option value="Проверки">Проверки</option>
                                <option value="Правовой аутсорсинг">Правовой аутсорсинг</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Краткое описание</label>
                            <textarea class="form-control" rows="2" id="description"
                                      placeholder="Напишите кратко о вашем деле, чтобы мы могли найти нужного специалиста.."
                                      required></textarea>
                        </div>

                        <div class="form-group tx-12">
                            Открытие дела означает начало деятельности фирмы относительно лица открывшего дело<br>
                            <strong>СЧЕТ ДЛЯ ОПЛАТЫ выставляется в процессе обсуждения открытого дела.</strong>
                        </div><!-- form-group -->

                        <button class="btn btn-brand-02 btn-block" onclick="Create();">Открыть новое дело</button>
                    </div>

                </div>

            </div>
        </div>
        <script>
            function Create() {
                var name = document.getElementById("name");
                var type = document.getElementById("type");
                var description = document.getElementById("description");
                if (name.value == "") {
                    alert('Не указано название дела');
                    return;
                }
                if (type.selectedIndex == 0) {
                    alert('Укажите тип дела');
                    return;
                }

                fetch('/User/CreateCase', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify({ Type: type.value, Name: name.value, Description: description.value, })
                }).then(response => response.json())
                    .then(result => {
                        //var json = JSON.parse(result);
                        //console.log(json);
                        switch (result.info) {
                            case "unauthorized":
                                alert('Кажется, Вы не авторизованы, обновите страницу');
                                break;
                            case "error":
                                alert('Ошибка, проверьте вводимые данные и попробуйте еще раз');
                                break;
                            case "success":
                                alert('Дело успешно создано, Вы можете его просмотреть в списке всех ваших дел');
                                name.value = "";
                                type.selectedIndex = 0;
                                description.value = "";
                                break;
                            default:
                        }
                    });
            }
        </script>

</div>
