@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Адвокаты Москвы | VDCompany</title>
    <meta name="description" content="Free Bootstrap 4 Theme by ProBootstrap.com">
    <meta name="keywords"
          content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400"
          rel="stylesheet">

    <link rel="stylesheet" href="~/spacehome/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/spacehome/assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/spacehome/assets/fonts/law-icons/font/flaticon.css">

    <link rel="stylesheet" href="~/spacehome/assets/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="~/spacehome/assets/css/slick.css">
    <link rel="stylesheet" href="~/spacehome/assets/css/slick-theme.css">

    <link rel="stylesheet" href="~/spacehome/assets/css/helpers.css">
    <link rel="stylesheet" href="~/spacehome/assets/css/style.css">
    <link rel="stylesheet" href="~/chat/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/chat/style.css">
</head>

<body data-spy="scroll" data-target="#pb-navbar" data-offset="200" class="darkRed textWhite">

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar red" id="pb-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/spacehome/assets/images/logo_header.png" width="60" height="70" />
                &nbsp&nbsp VDCompany
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
                    aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="ion-navicon"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="probootstrap-navbar">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#section-about">О нас</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#section-practicing-areas">Практики</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-why-us">Сервис</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-testimonials">Отзывы</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-contact">Контакты</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/User" title="Уже доступно!">
                            Личный
                            кабинет
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="pb_cover_v1 text-left cover-bg-opacity-4 " style="" id="section-home">
        <div class="container">
            <div class="row align-items-center justify-content-end">
                <div class="col-md-6  order-md-1 ">
                    <div class="row align-items-center justify-content-center">
                        <img src="~/spacehome/assets/images/logo.png" class="heading align-items-center" width="400" height="500" />
                    </div>
                </div>
                <div class="col-md-6  order-md-1">

                    <h2 class="heading mt-4 mb-3">Бюро адвокатов</h2>
                    <div class="sub-heading">
                        <p class="mb-5">Московская Коллегия адвокатов <a href="#">«VD Company»</a>.</p>
                        <p>
                            <a href="#section-contact" role="button"
                               class="btn smoothscroll pb_outline-light btn-xl pb_font-13 p-4 rounded-0 pb_letter-spacing-2">
                                Бесплатная
                                консультация
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->


    <section class="pb_section pb_section_v1" data-section="about" id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 pr-md-5 pr-sm-0">
                    <h2 class="mt-0 heading-border-top mb-3 font-weight-normal text-white">Кто мы такие?</h2>
                    <p>
                        В 2018 году группа адвокатов – единомышленников приняла решение о создании Московской коллегии
                        адвокатов. Так, 20 августа 2018 года была создана Московская Коллегия адвокатов VDCompany.
                        Прошедшие года были для нас непростыми, но очень динамичными, интересными и плодотворными.
                        <br><br>
                        VDCompany российская юридическая компания, предоставляющая полный спектр правовых услуг во всех
                        регионах России, в том числе: Москве, Санкт-Петербурге, Казани, Калининграде.
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="images">
                        <img class="img1 img-fluid" src="~/spacehome/assets/images/i.JPG">
                        <img class="img2" src="~/spacehome/assets/images/prev.JPG">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END section -->


    <section class="pb_section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="media pb_media_v2 d-block text-center mb-3">
                        <div class="icon border border-gray rounded-circle d-block mr-3 display-4 mx-auto mb-4">
                            <i class="flaticon text-secondary flaticon-jury"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mt-0 pb_font-20">Группа адвокатов</h3>
                            <p class="text-dark">
                                Мы группа работающих вместе как единый механизм адвокатов разной
                                направленности.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="media pb_media_v2 d-block text-center  mb-3">
                        <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 mx-auto mb-4">
                            <i class="flaticon text-secondary flaticon-law"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mt-0 pb_font-20">Никто не останется без помощи</h3>
                            <p class="text-dark">
                                Мы можем ответить на любой юридический вопрос, и решить любую даже
                                самую сложную юридическую задачу.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="media pb_media_v2 d-block text-center  mb-3">
                        <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 mx-auto mb-4">
                            <i class="flaticon text-secondary flaticon-courthouse"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mt-0 pb_font-20">Справедливость нужна всем</h3>
                            <p class="text-dark">
                                Наш сервис и личный кабинет позволяет вести переговоры и закрывать дела
                                не только физических но и юридических лиц.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="pb_sm_py_cover text-center cover-bg-black cover-bg-opacity-4"
             style="background-image: url(~/spacehome/assets/images/1900x1200_img_3.jpg)">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-12">
                    <h2 class="heading mb-3">Бесплатная консультация</h2>
                    <p class="sub-heading mb-5 pb_color-light-opacity-8">
                        Пройдите быструю регистрацию на нашем сервисе.
                        Откройте дело в личном кабинете и мы
                        прикрепим к вам нашего лучшего специалиста по вашей проблеме.
                    </p>
                    <p>
                        <a href="#section-contact" role="button"
                           class="btn smoothscroll pb_outline-light p-3 rounded-0 pb_font-13 pb_letter-spacing-2">
                            Начать
                            сейчас
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- END section -->

    <section class="pb_section" data-section="why-us" id="section-why-us">
        <div class="container">
            <div class="row justify-content-md-center text-center mb-5">
                <div class="col-lg-7">
                    <h2 class="mt-0 heading-border-top font-weight-normal text-white" id="service">Почему мы?</h2>
                    <p>
                        Стандартный вопрос для любого человека который заходит в сервис оказания услуг! И мы легко
                        ответим на него. Наш сервис предоставляет возможность легко открыть дело и решить проблему,
                        обмениваться документами дела в реальном времени и конечно общаться со специалистом адвокатом по
                        вашей проблеме.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="images right">
                        <img class="img1 img-fluid" src="~/spacehome/assets/images/i2.jpg" alt="free Template by ProBootstrap.com">
                        <img class="img2" src="~/spacehome/assets/images/prev2.jpg">
                    </div>
                </div>
                <div class="col-lg-5 pl-md-5 pl-sm-0">
                    <div id="exampleAccordion" class="pb_accordion" data-children=".item">
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1"
                               aria-expanded="true" aria-controls="exampleAccordion1"
                               class="pb_font-18 text-white">Регистрация и вход</a>
                            <div id="exampleAccordion1" class="collapse show text-white" role="tabpanel">
                                <p>
                                    Любое физическое или юридическое лицо может зарегистрироваться у нас на сервисе и
                                    открыть дело. Регистрация возможна и через сторонние сервисы FACEBOOK и VK.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2"
                               aria-expanded="false" aria-controls="exampleAccordion2"
                               class="pb_font-18 text-white">Сервис и услуги</a>
                            <div id="exampleAccordion2" class="collapse text-white" role="tabpanel">
                                <p>
                                    Зарегистрированным пользователям доступна функция бесплатной консультации. Вы можете
                                    не открывая дела узнать куда вам двигаться дальше в вашей проблеме ИЛИ. Вы можете
                                    открыть дело оплатить услугу и вам будет назначен специалист вашего профиля, так же
                                    вы сможете в режиме реального времени общаться с вашим адвокатом и обмениваться
                                    материалами дела.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3"
                               aria-expanded="false" aria-controls="exampleAccordion3"
                               class="pb_font-18 text-white">2020</a>
                            <div id="exampleAccordion3" class="collapse text-white" role="tabpanel">
                                <p>
                                    В современное время решать проблемы нужно по современному. <br> Наш сервис
                                    предоставляет весь перечень услуг по поддержке наших пользователей.<br> Вы можете не
                                    выходя из дома или по пути на работу открыть дело описать проблему и сразу начать
                                    работать с вашим адвокатом.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4"
                               aria-expanded="false" aria-controls="exampleAccordion4"
                               class="pb_font-18 text-white">Безопасность</a>
                            <div id="exampleAccordion4" class="collapse text-white" role="tabpanel">
                                <p>
                                    Весь контакт между вами и адвокатом внутри дела может происходить в онлайн чате, все
                                    документы по делу будут
                                    храниться в зашифрованном виде в вашем кабинете. Доступ к документам будет только у
                                    вас и вашего адвоката. Все контакты фирмы и вашего адвоката будут находиться в вашем
                                    личном кабинете. Вы в любой момент сможете написать или позвонить по интересующему
                                    вопросу.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="pb_section">
        <div class="multiple-items pb_slide_v1">
            <div>
                <a href="#" class="link-block">
                    <img src="~/spacehome/assets/images/ugolovka.jpg" alt="" class="img-fluid">
                    <div class="slide-text">
                        <h2>Уголовное право</h2>
                        <p></p>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="link-block">
                    <img src="~/spacehome/assets/images/arbitr.jpg" alt="" class="img-fluid">
                    <div class="slide-text">
                        <h2>Арбитражные дела</h2>
                        <span></span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="link-block">
                    <img src="~/spacehome/assets/images/allpract.jpg" alt="" class="img-fluid">
                    <div class="slide-text">
                        <h2>Общая практика</h2>
                        <span></span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="link-block">
                    <img src="~/spacehome/assets/images/proverka.png" alt="" class="img-fluid">
                    <div class="slide-text">
                        <h2>Проверки</h2>
                        <span></span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="link-block">
                    <img src="~/spacehome/assets/images/outsource.jpg" alt="" class="img-fluid">
                    <div class="slide-text">
                        <h2>Правовой аутсорсинг</h2>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

    </section>
    <!-- END section -->


    <section class="pb_section pb_bg-half" data-section="practicing-areas" id="section-practicing-areas">
        <div class="container">
            <div class="row justify-content-md-center text-center mb-5">
                <div class="col-lg-7">
                    <h2 class="mt-0 heading-border-top font-weight-normal text-white">Практики</h2>
                    <p>
                        В нашей компании специалисты с разными рода практиками, мы помогаем пользователям с абсолютно
                        разными проблемами.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="single-item pb_slide_v2">
                        <div>
                            <div class="d-lg-flex d-md-block slide_content">
                                <div class="pb_content-media"
                                     style="background-image: url(spacehome/assets/images/ugolovka.jpg);"></div>
                                <div class="slide_content-text text-center">
                                    <div class="pb_icon_v1">
                                        <i class="flaticon text-primary flaticon-handcuffs"></i>
                                    </div>
                                    <h3 class="font-weight-normal mt-0 mb-4">Уголовное право</h3>
                                    <p class="text-dark text-left">
                                        - защита прав и интересов по преступлениям в сфере
                                        мошенничества, взяточничества и коррупции должностных лиц <br>
                                        - защита прав Доверителей по делам о незаконном обороте наркотических
                                        средств и их сбыте<br>
                                        - защита прав по делам о незаконном обороте оружия и боеприпасов<br>
                                        - защита прав по делам, связанным с незаконным оборотом ценных бумаг<br>
                                        - представление интересов подозреваемых, обвиняемых/потерпевших по
                                        делам о нарушении правил дорожного движения и эксплуатации
                                        транспортных средств
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="d-lg-flex d-md-block slide_content">
                                <div class="pb_content-media" style="background-image: url(/spacehome/assets/images/arbitr.jpg);">
                                </div>
                                <div class="slide_content-text text-center">
                                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-wallet"></i></div>
                                    <h3 class="font-weight-normal mt-0 mb-4">Арбитражные дела</h3>
                                    <p class="text-dark">Ведение дел в арбитражных и третейских судах</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="d-lg-flex d-md-block slide_content">
                                <div class="pb_content-media"
                                     style="background-image: url(spacehome/assets/images/allpract.jpg);"></div>
                                <div class="slide_content-text text-center">
                                    <div class="pb_icon_v1">
                                        <i class="flaticon text-primary flaticon-computer-security"></i>
                                    </div>
                                    <h3 class="font-weight-normal mt-0 mb-4">Общая практика</h3>
                                    <p class="text-dark">Наследственные, земельные и семейные споры</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="d-lg-flex d-md-block slide_content">
                                <div class="pb_content-media"
                                     style="background-image: url(spacehome/assets/images/proverka.png);"></div>
                                <div class="slide_content-text text-center">
                                    <div class="pb_icon_v1">
                                        <i class="flaticon text-primary flaticon-courthouse"></i>
                                    </div>
                                    <h3 class="font-weight-normal mt-0 mb-4">Проверки</h3>
                                    <p class="text-dark">
                                        Защита бизнеса от налоговых, полицейских и прокурорских
                                        проверок
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="d-lg-flex d-md-block slide_content">
                                <div class="pb_content-media"
                                     style="background-image: url(spacehome/assets/images/outsource.jpg);"></div>
                                <div class="slide_content-text text-center">
                                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-jury"></i></div>
                                    <h3 class="font-weight-normal mt-0 mb-4">Правовой аутсорсинг</h3>
                                    <p class="text-dark">
                                        Полное юридическое сопровождение клиента, включая адвокатскую
                                        защиту, консультации, подготовку и проверку договоров, общение с контрольными
                                        органами, представительство в судах
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
    <section class="pb_section pb_testimonial_v1" data-section="testimonials" id="section-testimonials">
        <div class="container">
            <div class="row justify-content-md-center text-center mb-5">
                <div class="col-lg-7">
                    <h2 class="mt-0 heading-border-top font-weight-normal textWhite">Отзывы</h2>
                    <p>Наши довольные клиенты написали нам реальные отзывы и остались клиентами нашего сервиса.</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-10 col-sm-12 mb-5">
                    <div class="single-item-no-arrow pb_slide_v1">
                        <div>
                            <div class="media">
                                <img class="d-flex img-fluid rounded-circle mb-sm-5"
                                     src="~/spacehome/assets/images/square_img_5.jpg" alt="Generic placeholder image">
                                <div class="media-body pl-md-5 pl-sm-0">
                                    <blockquote>
                                        <p class="text-white">
                                            &ldquo;Огромное спасибо VDCompany! Попал в не приятную
                                            ситуацию с ДТП, выделили отдельного человека для решения проблемы. Все
                                            вопросы были решены за 3 дня! &rdquo;
                                        </p>
                                        <p class="pb_author">
                                            <citeclass ="text-uppercase">Антон Герасимов</cite>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <img class="d-flex img-fluid rounded-circle mb-sm-5"
                                     src="~/spacehome/assets/images/square_img_5.jpg" alt="Generic placeholder image">
                                <div class="media-body pl-md-5 pl-sm-0">
                                    <blockquote>
                                        <p class="text-white">
                                            &ldquo;
                                            Обращался в эту компанию по разделу совместно нажитого имущества а именно
                                            дома. Дело моё вёл человек знающий своё дело грамотный специалист. В итоге
                                            дело мы выиграли. Цены более чем приемлемые. В Скором будущем буду снова
                                            обращаться по поводу приватизации Земли. Хочу выразить личную благодарность
                                            Вадиму Давыдову. А компании всех благ и процветания&rdquo;
                                        </p>
                                        <p class="pb_author">
                                            <cite class="text-uppercase">Виктор Александрович</cite>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <img class="d-flex img-fluid rounded-circle mb-sm-5"
                                     src="~/spacehome/assets/images/square_img_5.jpg" alt="Generic placeholder image">
                                <div class="media-body pl-md-5 pl-sm-0">
                                    <blockquote>
                                        <p class="text-white">
                                            &ldquo;
                                            Очень хорошие , добросовестные и квалифицированные юристы! С лёгкостью
                                            разрешили все судебные тяжбы! Всем советую!))))&rdquo;
                                        </p>
                                        <p class="pb_author">
                                            <cite class="text-uppercase">Олисова Дарья</cite>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <img class="d-flex img-fluid rounded-circle mb-sm-5"
                                     src="~/spacehome/assets/images/square_img_5.jpg" alt="Generic placeholder image">
                                <div class="media-body pl-md-5 pl-sm-0">
                                    <blockquote>
                                        <p class="text-white">
                                            &ldquo;
                                            Благодарю правовую компанию "VDCompany" и выражаю огромную признательность
                                            лично Вадиму Давыдову за профессионализм, квалифицированную юридическую
                                            помощь и добросовестно выполненную работу по Банкротству физ.лица. Приятно
                                            отметить грамотность специалистов, чёткость, обязательность, компетентность,
                                            внимательность и хорошее отношение к клиентам. Хочу пожелать всей команде
                                            успехов в настоящих и будущих проектах и добиться ещё немало заслуг на
                                            профессиональном поприще.&rdquo;
                                        </p>
                                        <p class="pb_author"><cite class="text-uppercase">Татьяна Молева</cite></p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="pb_section" data-section="contact" id="section-contact">
        <div class="container">

            <div class="row justify-content-md-center text-center mb-5">
                <div class="col-lg-7">
                    <h2 class="mt-0 heading-border-top font-weight-normal textWhite">Форма обратной связи</h2>
                    <p>
                        Если вы не нашли подходящую информацию или мы не ответили на ваши вопросы присылайте нам
                        сообщение на почту через форму ниже, мы ответим вам в течении 30 минут!
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
                    <form action="Home/SendFeedBack" method="post" onsubmit="return false;">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="name">Ваше имя</label>
                                    <input type="text" class="form-control p-3 rounded-0" id="name" name="name">
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="email">Ваш Email (для ответа)</label>
                                    <input type="text" class="form-control p-3 rounded-0" id="email" name="email">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message">Сообщение</label>
                            <textarea cols="30" rows="10" class="form-control p-3 rounded-0" id="message" name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Отправить" id="SendFeedBack" class="btn pb_outline-light pb_font-13 pb_letter-spacing-2 p-3 rounded-0">
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <ul class="pb_contact_details_v1">
                        <li>
                            <span class="text-uppercase">Email</span>
                            <span class="text-white"> davidovadvokat@gmail.com</span>
                        </li>
                        <li class="textWhite">
                            <span class="text-uppercase">Телефон</span>
                            <span class="text-white">+7 (985) 922-42-72</span>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- END section -->

    <footer class="pb_footer bg-light" role="contentinfo">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://vk.com/advokat_davydov" class="p-2">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/advokat.davydov" class="p-2">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://ok.ru/advokat.davydov" class="p-2">
                                <i class="fa fa-odnoklassniki"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="pb_font-14 text-dark">
                        &copy; 2017 <a href="#">VDCompany</a>.
                        Все права защищены.
                        Сделано в <a href="https://afcstudio.ru/">AFCStudio.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <!-- <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                stroke="#FDA04F" /></svg></div> -->

    <div id="chat" class="col-12 p-1" style="max-width: 450px; position: fixed; bottom: 5px; right: 5px; display: none; z-index: 999; color: black;">
        <div class="chat-div rounded shadow-6dp" style="border: 1px gray solid;">
            <div class="p-0">
                <div class="p-1" style="display: flex; position: relative;">
                    <strong class="center">Чат поддержки</strong>
                    <button id="close-chat" class="btn btn-outline-danger p-1 pl-2 pr-2 pointer" style="position: absolute; right: 3px;" title="Чат можно времено закрыть">✕</button>
                </div>
                <div id="chat_list" class="m-1 pr-3 p-1 chat-list">
                    <div id="messages">
                        <div class="msg-admin">
                            Задайте свой вопрос - мы ответим как можно скорее (не покидайте страницу, чтобы этот диалог сохранился)
                        </div>
                    </div>
                </div>
                <div class="chat-send" style="display: flex;">
                    <textarea id="chat_message" class="rounded chat-mymessage p-1" rows="3" title="Напишите ваше сообщение здесь"></textarea>
                    <button class="rounded chat-button pointer" onclick="Send();" title="Нажмите, чтобы отправить ваше вообщение"></button>
                </div>
            </div>
        </div>
    </div>
    <div id="icon-chat" class="notifi pointer shadow-6dp" title="Откройте чат - напишите нам"></div>


    <script src="~/spacehome/assets/js/jquery.min.js"></script>
    <script src="~/spacehome/assets/js/popper.min.js"></script>
    <script src="~/spacehome/assets/js/bootstrap.min.js"></script>
    <script src="~/spacehome/assets/js/slick.min.js"></script>
    <script src="~/spacehome/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/spacehome/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/spacehome/assets/js/SweetAlert.js"></script>
    <script src="~/spacehome/assets/js/main.js"></script>
    <script src="~/chat/perfect-scrollbar.min.js"></script>
    <script src="~/chat/signalr.min.js"></script>
    <script>
        $('#chat_list').perfectScrollbar();
        $('#icon-chat').on('click', function () {
            $('#icon-chat').hide();
            $('#chat').show();
        });
        $('#close-chat').on('click', function () {
            $('#icon-chat').show();
            $('#chat').hide();
        });
        const hubConnection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
        hubConnection.serverTimeoutInMilliseconds = 1000 * 60 * 30;
        hubConnection.on("Send", function (msg) {
            var result = JSON.parse(msg);
            console.log(result);
            if (result.Item1 !== "admin") {
                add_clientmessage(result.Item2);
            } else {
                add_adminmessage(result.Item2);
            }
        });
        hubConnection.start();
        function Send() {
            let message = $('#chat_message').val();
            if (message !== "") {
                $('#chat_message').val('');
                hubConnection.invoke("Send", message, "-", "-", "-", "-");
            }
        };
        $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                Send();
            }
        });
        function add_clientmessage(message) {
            //var dt = new Date();
            //var time = (dt.getHours() + "").padStart(2, "0") + ":" + (dt.getMinutes() + "").padStart(2, "0");
            $('#messages').append('<div class="msg-client">' + message + /*'<br><span style=" color: #858585; text-align: right;">' + time + '</span>*/'</div>');
            $("#chat_list").scrollTop( $( "#chat_list" ).prop( "scrollHeight" ) );
            $("#chat_list").perfectScrollbar('update');
        };         // Добавление сообщения от клиента
        function add_adminmessage(message) {
            //var dt = new Date();
            //var time = (dt.getHours() + "").padStart(2, "0") + ":" + (dt.getMinutes() + "").padStart(2, "0");
            $('#messages').append('<div class="msg-admin">' + message + /*'<br><span style=" color: #858585; text-align: right;">' + time + '</span>*/'</div>');
            $('#messages').scrollTop($('#chat_list').prop('scrollHeight'));
            $("#chat_list").scrollTop( $( "#chat_list" ).prop( "scrollHeight" ) );
            $("#chat_list").perfectScrollbar('update');
        }; 
    </script>
</body>

</html>