
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.png">

    <title>Личный кабинет пользователя</title>

    <!-- vendor css -->
    <link href="~/spaceuser/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/spaceuser/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/spaceuser/lib/jqvmap/jqvmap.min.css" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/spaceuser/assets/css/dashforge.css">
    <link rel="stylesheet" href="~/spaceuser/assets/css/dashforge.dashboard.css">
    <link rel="stylesheet" href="~/spaceuser/assets/css/dashforge.chat.css">
    <link rel="stylesheet" href="~/spaceuser/assets/css/style.css">
</head>

<body class="page-profile">  

    <header class="navbar navbar-header navbar-header-fixed">
        <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
        <div class="navbar-brand">
            <a href="/" class="df-logo" title="На главную">VD<span>Company</span></a>
        </div><!-- navbar-brand -->
        <div id="navbarMenu" class="navbar-menu-wrapper">
            <div class="navbar-menu-header">
                <a href="/" class="df-logo">VD<span>Company</span></a>
                <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
            </div><!-- navbar-menu-header -->
            <ul class="nav navbar-menu">
                <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Меню</li>
                <li class="nav-item ">
                    <a href="/User/CreateCase" class="nav-link"> Новое дело</a>
                </li>
                <li class="nav-item ">
                    <a href="/User/Cases" class="nav-link"> Мои дела</a>
                </li>
                <li class="nav-item ">
                    <a href="/User/Bills" class="nav-link"> Мои счета</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> Контакты</a>
                </li>
                <li class="nav-item">
                    <a href="/User/PDN" class="nav-link"> Политика ПДН</a>
                </li>
            </ul>
        </div><!-- navbar-menu-wrapper -->
        <div class="navbar-right">
            @*<div class="dropdown dropdown-message">
                <a href="" class="dropdown-link new-indicator" data-toggle="dropdown">
                    <i data-feather="message-square"></i>
                    <span>5</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Уведомления</div>
                    <a href="" class="dropdown-item">
                        <div class="media">

                            <div class="media-body mg-l-15">
                                <strong>Socrates Itumay</strong>
                                <p>nam libero tempore cum so...</p>
                                <span>Mar 15 12:32pm</span>
                            </div><!-- media-body -->
                        </div><!-- media -->
                    </a>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->*@
            <a href="/User/Logout" class="btn btn-outline-primary ml-3" title="Выход из личного кабинета">Выход</a>
        </div><!-- navbar-right -->
    </header><!-- navbar -->



    @RenderBody()


    <!--<script src="~/spaceuser/lib/jquery/jquery.min.js"></script>
    <script src="~/spaceuser/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/spaceuser/lib/feather-icons/feather.min.js"></script>
    <script src="~/spaceuser/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/spaceuser/lib/jquery.flot/jquery.flot.js"></script>
    <script src="~/spaceuser/lib/jquery.flot/jquery.flot.stack.js"></script>
    <script src="~/spaceuser/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/spaceuser/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="~/spaceuser/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/spaceuser/lib/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="~/spaceuser/assets/js/dashforge.js"></script>
    <script src="~/spaceuser/assets/js/dashforge.sampledata.js"></script>

    
    <script src="~/spaceuser/lib/js-cookie/js.cookie.js"></script>
    <script src="~/spaceuser/assets/js/dashforge.settings.js"></script>-->

   
</body>

</html>